.home{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
}

.hero{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 1rem;
    place-items:  center;
}

.home__title{
    text-align: center;
    font-size: var(--big-font-size);
    color: var(--text-color);
}




/* Medium Devices */
@media screen and (max-width: 780px) {

    .hero{
        display: grid;
        grid-template-columns: 1fr;
    }
}

