.gamecard {
  width: 25rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background: rgba(233, 232, 232, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 59, 59, 0.83);
  cursor: pointer;
  backdrop-filter: blur(5px);
}

.gamecard__time {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.gamecard__time > p {
  font-size: var(--smaller-font-size);
}

.teams {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 3;
  gap: 2rem;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.team__title {
  font-size: var(--small-font-size);
}

.team__image {
  width: 6rem;
  height: 6rem;
  background: white;
  border-radius: 50%;
}

@media screen and (max-width: 992px) {
  .gamecard {
    width: 20rem;
    height: 12rem;
  }

  .gamecard__time {
    font-size: var(--normal-font-size);
  }

  .team__image {
    width: 4rem;
    height: 4rem;
  }

  .gamecard__time > p {
    font-size: var(--tiny-font-size);
  }
}

@media screen and (max-width: 576px) {
  .gamecard {
    width: 16rem;
    height: 10rem;
  }

  .gamecard__time {
    font-size: var(--tiny-font-size);
  }

  .team__image {
    width: 3rem;
    height: 3rem;
  }

  .gamecard__time > p {
    font-size: var(--tiny-font-size);
  }

  .team__title {
    font-size: var(--tiny-font-size);
  }
}

/* Small Devices */
@media screen and (max-width: 350px) {
}
